﻿@model TravelAgency.Models.Vacation

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vacation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoOfPersons)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoOfPersons)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DestinationHotel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DestinationHotel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FlightCompany)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FlightCompany)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UpdateDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UpdateDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
