﻿/*by:arad Hakhamanesh May 2018 */
body {
   
    margin: 5px;
    padding: 10px;
    background-color: #ccc;
    font-family:Arial;
    /*white-space: nowrap;
    overflow-x: auto;*/
}
* {
    box-sizing: border-box;
}
.header {
    text-align: center;
    padding: 32px;
}
@-ms-viewport {
    width: device-width;
}
/*Responsive*/
@media only screen and ( max-width: 1200px ) and ( min-width: 800px ) {

    a.mobile {
        display: none !important;
    }

    a.desktop {
        display: none !important;
    }

    a.tablet {
        display: inline !important;
    }
}

@media only screen and ( max-width: 640px) {
    a.mobile {
        display: inline !important;
    }

    a.tablet {
        display: none !important;
    }

    a.desktop {
        display: none !important;
    }
}


/*Responsive*/




 * {
    box-sizing: border-box;
}
 .div{
     overflow:auto;
 }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 33.33%;
    padding: 10px;
    height: 400px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
    
}
/*close button*/
.close {
    position: relative;
    float: right;
    color: black;
    border: none;
    top: -10px;
    right: -10px;
}
.column2 {
    position: relative;
    margin-right: 0.055%;
    margin-left: 0.055%;
    width: 33%;
    float: left;
    padding: 10px;
    height: 400px;
    
}
#compare{
    padding-top:20px;
}

#addBox {
    background-color: black;
    float: right;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 25px;
}

#addCompare {
    display: inline-block;
    color: white;
    margin-right: 5px;
}
#container {
    margin-top: 20px;
    height: auto;
}
#col11 {
    background-color: #fff;
}



#lblYear {
    font-weight: 700;
    color: #a4a1a1;
    margin-left: 20%;
}
#edit1 {
    border: solid;
    color: #a4a1a1;
    border-radius: 7px;
}
#line1 {
    padding-top: 10px;
    height: auto;
}

#hr1 {
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #ccc;
}

#parent2 {
    height: 40%;
    margin: auto;
}
#lblCity {
    font-weight: 700;
    color: #a4a1a1;
    padding-left: 20%;
}

#city1 {
    margin-left: 25%;
    width: auto;
    display: inline-block;
    color: black;
}
#edit2 {
    border: solid;
    color: #a4a1a1;
    border-radius: 7px;
    display: inline-block;
    margin-left: 17%;
}
#boxTitle {
    height: auto;
    margin: auto;
    text-align: center;
    padding-top: 5%;
}
@media only screen and (min-width: 800px) {
    #tacxContainer {
        height: auto;
        margin: auto;
    }

    #line2 {
        margin-left: 5px;
        margin-right: 5px;
    }

    #total {
        color: #6b6666;
        font-size: larger;
    }

    #netPay {
        color: #6b6666;
        font-size: larger;
    }
   }

@media screen and (min-width:10px) and (max-width:640px) {

    #tacxContainer {
        height: auto;
        margin: auto;
    }

    #line2 {
        margin-left: 5px;
        margin-right: 5px;
    }

    #total {
        color: #6b6666;
        font-size:smaller;
    }

    #netPay {
        color: #6b6666;
        font-size:smaller;
    }
}

@media screen and (min-width:10px) and (max-width:640px) {
    .lblDot {
        font-size:5%;
        display:inline-block;
       

    }
}





    #chartTitle {
        height: auto;
        margin: auto;
        text-align: center;
        padding-top: 5%;
    }

    #chatr27 {
        margin-right: 20px;
        text-align: right;
        padding-right: 15%;
        color: #a4a1a1;
    }

    #chart83 {
        margin-right: 20px;
        text-align: left;
        padding-left: 15%;
        color: #a4a1a1;
    }

    #dot1 {
        margin-left: 30%;
        background-color: black;
        display: inline-block;
    }

    #dot2 {
        margin-left: 5%;
        background-color: #a4a1a1;
        display: inline-block;
    }

    #taxMenue {
        display: inline-block;
        float: right;
        padding-top: 20px;
    }

    #row221 {
        margin-top: 10px;
        padding-left: 30px;
    }

    @media only screen and (min-width: 800px) {
        #lblIncom2 {
            font-weight: 600;
            color: #a4a1a1;
            font-size: 10px;
            display: inline-block;
            float: left;
            text-align: center;
        }

        #incom21 {
            width: 100%;
            padding-left: 25px;
            font-weight: 800;
            color: black;
        }

        #edit3 {
            border: solid;
            color: #a4a1a1;
            border-radius: 7px;
            float: left;
            display: inline-block;
        }

        #lblPlace {
            font-weight: 600;
            color: #a4a1a1;
            font-size: 10px;
            display: inline-block;
            float: left;
            text-align: center;
        }

        #palce {
            border: none;
            padding-left: 25px;
            font-weight: 800;
            color: black;
            text-align: center;
        }

        #edit4 {
            border: solid;
            color: #a4a1a1;
            border-radius: 7px;
            float: left;
            display: inline-block;
        }
    }

    @media screen and (min-width:10px) and (max-width:640px) {
        #lblIncom2 {
            font-weight: 200;
            color: #a4a1a1;
            font-size: x-small;
            display: inline-block;
            float: left;
            text-align: center;
        }

        #incom21 {
            width: 100%;
            padding-left: 5px;
            font-weight: 200;
            color: black;
        }

        #edit3 {
            border: solid;
            color: #a4a1a1;
            border-radius: 7px;
            float: left;
            display: inline-block;
        }

        #lblPlace {
            font-weight: 200;
            color: #a4a1a1;
            font-size: x-small;
            display: inline-block;
            float: left;
            text-align: center;
        }

        #palce {
            border: none;
            padding-left: 5px;
            font-weight: 200;
            font-size: x-small;
            color: black;
            text-align: center;
        }

        #edit4 {
            border: solid;
            color: #a4a1a1;
            border-radius: 7px;
            float: left;
            display: inline-block;
        }
    }





    #row22container {
        margin-left: 20%;
        padding-left: 50px;
        text-align: center;
        float: left;
    }

    #form23 {
        text-align: center;
        margin-top: 20px;
    }

    #lblIncom22 {
        text-align: center;
        font-weight: 600;
        color: #a4a1a1;
        font-size: 10px;
        display: inline-block;
        padding-top: 10%;
        float: left;
        padding-left: 20px;
    }

    #incom22 {
        width: 150px;
        margin-left: 0px;
        font-weight: 800;
        color: black;
    }

    #divcol221 {
        margin-top: 15%;
        padding: 10px;
        display: inline-block;
    }

    #iconList {
        border: solid;
        color: #a4a1a1;
        border-radius: 7px;
        float: left;
        display: inline-block;
        padding-top: 20px;
    }

    #row2Chart27 {
        margin-right: 20px;
        text-align: right;
        padding-right: 15%;
        color: #a4a1a1;
    }

    #row23div {
        float: left;
        padding-right: 45%;
        padding-left: 45%;
    }

    #chart22 {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        vertical-align: middle;
        /*align-self:center;*/
    }

    #row2Chart83 {
        margin-left: 20px;
        text-align: left;
        padding-left: 15%;
        color: #a4a1a1;
        overflow: auto;
    }

    #tax2deduction {
        height: auto;
        margin: auto;
        text-align: center;
        padding-top: 5%;
    }

    #line21 {
        margin-left: 5px;
        margin-right: 5px;
    }

    #total2 {
        color: white;
        font-size: larger
    }

    #netPay2 {
        color: white;
        font-size: larger
    }

    #lblcol3row2 {
        font-weight: 600;
        color: #a4a1a1;
        font-size: 10px;
        display: inline-block;
        float: left;
        text-align: center;
    }

    #incom321 {
        width: 100%;
        padding-left: 25px;
        font-weight: 800;
        color: black;
    }

    #edit32 {
        border: solid;
        color: #a4a1a1;
        border-radius: 7px;
        float: left;
        display: inline-block;
    }

    #lblPlace33 {
        font-weight: 600;
        color: #a4a1a1;
        font-size: 10px;
        display: inline-block;
        float: left;
        text-align: center;
    }

    #palce33 {
        border: none;
        padding-left: 25px;
        font-weight: 800;
        color: black;
        text-align: center;
    }

    #edit34 {
        border: solid;
        color: #a4a1a1;
        border-radius: 7px;
        float: left;
        display: inline-block;
    }

    #row22Div {
        margin-left: 20%;
        padding-left: 50px;
        text-align: center;
        float: left;
    }

    #form323 {
        text-align: center;
        margin-top: 20px;
    }

    #lblIncom322 {
        text-align: center;
        font-weight: 600;
        color: #a4a1a1;
        font-size: 10px;
        display: inline-block;
        padding-top: 10%;
        float: left;
        padding-left: 20px;
    }

    #incom322 {
        width: 150px;
        margin-left: 0px;
        font-weight: 800;
        color: black;
    }

    #divCol221 {
        margin-top: 15%;
        padding: 10px;
        display: inline-block;
    }

    #iconList32 {
        border: solid;
        color: #a4a1a1;
        border-radius: 7px;
        float: left;
        display: inline-block;
        padding-top: 20px;
    }

    #chart327 {
        margin-right: 20px;
        text-align: right;
        padding-right: 15%;
        color: #a4a1a1;
    }

    #row23Dive {
        float: left;
        padding-right: 45%;
        padding-left: 45%;
    }

    #chart3Dive {
        padding-left: 20px;
        padding-right: 20px;
        box-sizing: border-box;
        vertical-align: middle;
    }

    #chart383 {
        margin-left: 20px;
        text-align: left;
        padding-left: 15%;
        color: #a4a1a1;
        overflow: auto;
    }

    h3 {
        display: inline-block;
    }











    /*button*/
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 10px;
        margin: 4px 2px;
        cursor: pointer;
        color: black;
    }
    /*make a button like an ico for adding*/
    .buttonFirst {
        border-radius: 50%;
        padding: 3px;
        font-size: 15px;
        color: white;
        background-color: black;
        border-style: solid;
        border-color: white;
    }

    /*add nav bar on top*/
    .myNav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
    }

        .myNav li {
            float: left;
        }

        .myNav a {
            position: relative;
        }

            .myNav a:after {
                position: absolute;
                right: -1px;
                top: 3px;
                bottom: 3px;
                width: 2px;
                background: #a4a1a1;
                content: "";
            }

        .myNav li:last-child a:after {
            display: none;
        }

        .myNav a:link,
        .myNav a:visited {
            display: block;
            width: 100px;
            /*font-weight: bold;*/
            color: #a4a1a1;
            /*background-color: #98bf21;*/
            text-align: center;
            padding: 2px;
            text-decoration: none;
            /*text-transform: uppercase;*/
        }

    a:hover,
    a:active {
        background-color: black;
    }




    /*second nav bar*/
    .myNav2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        display: inline-block;
        float: right;
    }

        .myNav2 li {
            float: left;
        }

        .myNav2 a {
            position: relative;
        }

        .myNav2 li:last-child a:after {
            display: none;
        }

        .myNav2 a:link,
        .myNav2 a:visited {
            display: block;
            width: 110px;
            /*font-weight: bold;*/
            color: #a4a1a1;
            /*background-color: #98bf21;*/
            text-align: center;
            padding: 2px;
            text-decoration: none;
            /*text-transform: uppercase;*/
        }

    /*#addBox.after {
    content: "";
    display: table;
    clear: both;
    


}*/

    /*form {
    border: 1px solid red;
    width: 50%;
    margin: 0 auto;
}*/

    #parent {
        display: table;
        width: 100%;
        height: 40%;
        vertical-align: middle;
        padding-top: 15%;
    }

    #form1 {
        display: table-cell;
        /*text-align: center;*/
        vertical-align: middle;
        /*text-transform: uppercase;*/
    }

    .incom {
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        background-color: white;
        /*margin-left: 25px;*/
    }

    .city {
        border: none;
        text-align: center;
        font-weight: bold;
        font-size: x-large;
        background-color: white;
        margin-left: 100px;
    }
    /*#city1{
   
}*/


    #parent2 {
        display: table;
        width: 100%;
    }

    #form2 {
        display: table-cell;
        /*text-align: center;*/
        /*display: inline-block;*/
        vertical-align: middle;
        padding-top: 10%;
        /*text-transform: uppercase;*/
    }

    .calc {
        font-weight: 700;
        color: #a4a1a1;
        Background: transparent;
        text-align: right;
        margin-left: 10px;
        border: none;
        font-weight: bold;
        font-size: medium;
        float: right;
        padding-bottom: 3px;
        /*overflow: auto;*/
    }

    .label1 {
        display: inline-block;
        font-weight: 700;
        color: #a4a1a1;
        margin-left: 10px;
        /*overflow: auto;*/
    }




    .calc2 {
        font-weight: 700;
        color: #a4a1a1;
        Background: transparent;
        text-align: right;
        margin-left: 10px;
        border: none;
        font-weight: bold;
        font-size: medium;
        float: right;
        padding-bottom: 3px;
        /*overflow: auto;*/
    }

    .label3 {
        display: inline-block;
        font-weight: 700;
        color: #a4a1a1;
        margin-left: 10px;
        /*overflow: auto;*/
    }

    input {
        margin-right: 10px;
        text-align: left;
        background-color: transparent;
        border: none;
        /*float:right;*/
    }

    .colf1 {
        padding-top: 1px;
        margin-top: 5px;
        float: left;
        width: 50%;
    }

    .colf2 {
        margin-top: 5px;
        float: left;
        width: 45%;
        margin-right: 10px;
        /*text-align:center;*/
    }
    /*.colf3 {
    margin-top: 5px;
    float: left;
    width: 10%;
    text-align: left;
    padding-right:5px;
    
}*/
    .label2 {
        display: inline-block;
        font-weight: 700;
        color: #a4a1a1;
        margin-left: 10px
    }

    .frow:after {
        content: "";
        display: table;
        clear: both;
    }




    /*pie chart1*/

    .pieContainer {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .pieBackground {
        background-color: #ccc;
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
    }


    .pie {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 50px, 100px, 0px);
    }

    .hold {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 100px, 100px, 50px);
    }





    /**/



    #pieSlice1 {
        -webkit-transform: rotate(310deg);
        -moz-transform: rotate(310deg);
        -o-transform: rotate(310deg);
        transform: rotate(310deg);
    }

        #pieSlice1 .pie {
            background-color: black;
            -webkit-transform: rotate(97.2deg);
            -moz-transform: rotate(97.2deg);
            -o-transform: rotate(97.2deg);
            transform: rotate(97.2deg);
        }


    /*icon edit*/

    .ic {
        font-size: 24px;
        color: transparent;
        user-select: none;
        position: relative;
        display: inline-block;
        box-sizing: border-box;
        overflow: visible;
        vertical-align: top;
        font-style: normal;
        height: 1em;
        width: 1em;
        mix-blend-mode: multiply;
        cursor: pointer;
        border: solid;
    }

        .ic:before, .ic:after {
            /* BACKGROUND COLOR */
            background-color: white;
            border-color: white;
            color: white;
            content: '';
            position: absolute;
            display: block;
            box-sizing: border-box;
        }

        .ic.ic-edit:before {
            background: linear-gradient(to bottom, #777 0%,#777 15%,#fff 15%,#fff 25%,#777 25%, #777 100%);
            height: 0.75em;
            width: 0.1875em;
            transform: rotate(45deg);
            left: 0.4375em;
        }

        .ic.ic-edit:hover:before {
            background: linear-gradient(to bottom,#000 0%,#000 15%,#fff 15%,#fff 25%,#000 25%, #000 100%);
        }

        .ic.ic-edit:after {
            top: 0.625em;
            left: 0.0625em;
            border-style: solid;
            background: transparent;
            border-width: 0.1875em 0.125em 0 0.125em;
            border-color: black transparent transparent transparent;
            transform: rotate(45deg) translateY(0.03125em);
        }

        /*icon edit*/

        .ic.ic-list:before {
            border-color: #777;
            height: 0.70em;
            width: 0.70em;
            border-width: 0.125em 0;
            background: transparent;
            border-style: solid;
            top: 0.125em;
            left: 0;
        }

        .ic.ic-list:after {
            border-color: #777;
            height: 0px;
            width: 0.70em;
            background: transparent;
            border-width: 0.125em 0 0 0;
            border-style: solid;
            top: 0.4375em;
            left: 0;
        }

        .ic.ic-list:hover:before, .ic.ic-list:hover:after {
            border-color: #000;
        }





    .col211 {
        float: left;
        width: 35%;
        padding: 5px;
        height: 20%;
        overflow: hidden;
        margin-top: 20px;
    }

    Clear floats after the columns .row21:after {
        content: "";
        display: table;
        clear: both;
        overflow: hidden;
    }

    .col212 {
        float: left;
        width: 10%;
        padding: 2px;
        padding-top: 20px;
        height: 20%;
        overflow: hidden;
        margin-top: 20px;
    }

    form {
        float: left;
    }
    /*#col21 button{
    font-size:10px;
    font-weight:500;
}*/
    select {
        /* for Firefox */
        -moz-appearance: none;
        /* for Chrome */
        -webkit-appearance: none;
    }

        /* For IE10 */
        select::-ms-expand {
            display: none;
        }

    [data-tooltip] {
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

        /* Hide the tooltip content by default */
        [data-tooltip]:before,
        [data-tooltip]:after {
            visibility: hidden;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
            opacity: 0;
            pointer-events: none;
        }

        /* Position tooltip above the element */
        [data-tooltip]:before {
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-bottom: 5px;
            margin-left: -80px;
            padding: 7px;
            width: 160px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            border-radius: 3px;
            background-color: #000;
            background-color: hsla(0, 0%, 20%, 0.9);
            color: #fff;
            content: attr(data-tooltip);
            text-align: center;
            font-size: 14px;
            line-height: 1.2;
        }

        /* Triangle hack to make tooltip look like a speech bubble */
        [data-tooltip]:after {
            position: absolute;
            bottom: 150%;
            left: 50%;
            margin-left: -5px;
            width: 0;
            border-top: 5px solid #000;
            border-top: 5px solid hsla(0, 0%, 20%, 0.9);
            border-right: 5px solid transparent;
            border-left: 5px solid transparent;
            content: " ";
            font-size: 0;
            line-height: 0;
        }

        /* Show tooltip content on hover */
        [data-tooltip]:hover:before,
        [data-tooltip]:hover:after {
            visibility: visible;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
            filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
            opacity: 1;
        }

    .dot {
        height: 12px;
        width: 12px;
        border-radius: 50%;
        display: inline-block;
    }


    /*small pie*/

    .pieContainer1 {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .pieBackground1 {
        background-color: #ccc;
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
    }


    .pie1 {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 50px, 100px, 0px);
    }

    .hold1 {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 100px, 100px, 50px);
    }

    #pieSlice123 {
        -webkit-transform: rotate(310deg);
        -moz-transform: rotate(310deg);
        -o-transform: rotate(310deg);
        transform: rotate(310deg);
    }

        #pieSlice123 .pie1 {
            background-color: black;
            -webkit-transform: rotate(97.2deg);
            -moz-transform: rotate(97.2deg);
            -o-transform: rotate(97.2deg);
            transform: rotate(97.2deg);
        }

    /*small pie3*/

    .pieContainer2 {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center
    }

    .pieBackground2 {
        background-color: #ccc;
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
    }


    .pie2 {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 50px, 100px, 0px);
    }

    .hold2 {
        position: absolute;
        width: 100px;
        height: 100px;
        -moz-border-radius: 50px;
        -webkit-border-radius: 50px;
        -o-border-radius: 50px;
        border-radius: 50px;
        clip: rect(0px, 100px, 100px, 50px);
    }

    #pieSlice124 {
        -webkit-transform: rotate(310deg);
        -moz-transform: rotate(310deg);
        -o-transform: rotate(310deg);
        transform: rotate(310deg);
    }

        #pieSlice124 .pie2 {
            background-color: black;
            -webkit-transform: rotate(97.2deg);
            -moz-transform: rotate(97.2deg);
            -o-transform: rotate(97.2deg);
            transform: rotate(97.2deg);
        }
