

{# templates/base.html.twig #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Test Application{% endblock %}</title>
    </head>
    <body>
        <div id="sidebar">
            {% block sidebar %}
                <table border="1">
                <caption>
                <strong>{{name}}</strong></en>
                </caption>
                <thead>
                <tr heigth="10">
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Mobile#</th>
                    <th>Email</th>
                </tr>
                {% for(person in peapele) %}
                <tr>
                    <td style="height:30px">{{person.first_name}}</td>
                    <td style="height:30px">{{person.last_name}}</td>
                    <td style="height:30px">{{person.mobile}}</td>
                    <td style="height:30px">{{person.email}}</td>
                </tr>
                {% endfor %}
                
                </thead>
                </table>
            {% endblock %}
        </div>

        <div id="content">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>