* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: #000;
  font-family: sans-serif;
}

/* Define the container and the elements in the start page and end page.*/
.window {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: black;
  z-index: 999;
}
.window h1, h2, p {
  color: #fff;
  text-align: center;
}
.copy{
    position:absolute;
    bottom:0;
    left:20%;
    text-align:center;
}
.window h2 {
  margin-top: 100px;
  margin-bottom: 10px;
  color:red;
}
.window .meta{
    margin-top:50px;
    color:#ff6a00;
}
.window h1 {
  margin-top:30px;
  line-height: 80px;
  color:red;
}
.window .btn-group {
  margin: 80px auto;
  width: 100px;
  height: 90px;
  overflow: hidden;
  position: relative;
}
.window .mouse {
  position: relative;
  top: 6px;
  left: 0;
  margin: 0 auto;
}

/* Define the start button in the start page.*/
.window label {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  background: #51a70d;
  color: red;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  border-radius: 4px;
}

#startFlag {
  position: absolute;
  top: -10px;
  left: -10px;
}

/* Define the relation about the start button and the start page.When the start button was checked,the start page will be disappear and the game page will be appear in the screen. */

#startFlag:checked + #start {
  display: none;  
}

/* Define the container and the elements in the game page.*/
#container {
    background: #8adcf7;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -300px;
    margin-top: -300px;
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    overflow: hidden;
}
#map {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: gray;
}

/* Define the element of a hole.*/
.hole {
  position: absolute;
  left: 0;
  top: 70px;
  width: 70px;
  height: 100px;
  background-color: #62b210;
  border:1px solid black;
}
    .hole:before {
        display: block;
        content: "";
        position: absolute;
        width: 90px;
        height: 24px;
        margin-left: -12px;
        top: -24px;
        background-color: #62b210;
        border-radius: 2px;
        border: 1px solid black;
    }

/* Define the body of a mouse.*/
.mouse {
  z-index: 0;
  position: absolute;
  display: block;
  top: 70px;
  left: 7px;
  width: 56px;
  height: 100px;
  border-radius: 20px;
  background: #e3c498;
  background-image: radial-gradient(circle at 20px 23px, #000000 5%, rgba(255, 255, 255, 0) 5%), radial-gradient(circle at 17px 20px, #ffffff 10%, rgba(255, 255, 255, 0) 10%), radial-gradient(circle at 40px 23px, #000000 5%, rgba(255, 255, 255, 0) 5%), radial-gradient(circle at 43px 20px, #ffffff 10%, rgba(255, 255, 255, 0) 10%), radial-gradient(circle at center 36px, #000000 8%, rgba(255, 255, 255, 0) 8%), radial-gradient(circle at center 48px, #ffffff 20%, rgba(255, 255, 255, 0) 20%);
  -webkit-appearance: button;
  -moz-appearance: button;  
  cursor: pointer;
  border: none;
  outline: none;
  animation-iteration-count: infinite;
}

/* Define two ears of the mouse.*/
.mouse:before,
.mouse:after {
  z-index: -1;
  content: "";
  left: -5px;
  top: -5px;
  width: 20px;
  height: 20px;
  position: absolute;
  background: #e3c498;
  border-radius: 50%;
  background-image: radial-gradient(circle at center, #000000 40%, rgba(255, 255, 255, 0) 40%);
}
.mouse:after {
  left: auto;
  right: -5px;
}
.mouse-not-button {
  -webkit-appearance: none;
  -moz-appearance: none;
}

/* Define the group's position. There are 5 groups in the game page. */
.group {
  position: absolute;
  z-index: 1;
}
.group:nth-child(1) {
  left: 60px;
  top: 210px;
}
.group:nth-child(2) {
  left: 260px;
  top: 210px;
}
.group:nth-child(3) {
  left: 460px;
  top: 210px;
}
.group:nth-child(4) {
  left: 160px;
  top: 390px;
}
.group:nth-child(5) {
  left: 360px;
  top: 390px;
}

/* Define the event when the mouse was checked will be disappear.*/
.mouse:checked {
  animation-name: none;
  display: none;
  -webkit-pointer-events: none;
  overflow: hidden;
}

/* Define the animation of the mice. There are 10 mice will be go up and go down in the hole.*/
.mouse1 {
animation-name: mouse1;
animation-duration: 10s;
}

@keyframes mouse1 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  100% {
    top: 70px;
  }
}
.mouse2 {
animation-name: mouse2;
animation-duration: 10s;
}

@keyframes mouse2 {
  0% {
    top: 70px;
  }
  30% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  70% {
    top: 70px;
  }
  90% {
    top: 0;
  }
}

.mouse3 {
animation-name: mouse3;
animation-delay:2s;
animation-duration: 10s;
}

@keyframes mouse3 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  100% {
    top: 70px;
  }
}
.mouse4 {
animation-name: mouse4;     
animation-delay:2s;
animation-duration: 10s;
}

@keyframes mouse4 {
  0% {
    top: 70px;
  }
  30% {
    top: 70px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 70px;
  }
  90% {
    top: 0;
  }
}
.mouse5 {
animation-name: mouse5;
animation-delay:4s;
animation-duration: 10s;
}

@keyframes mouse5 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  100% {
    top: 70px;
  }
}
.mouse6 {
animation-name: mouse6;
animation-delay:4s;
animation-duration: 10s;
}

@keyframes mouse6 {
  0% {
    top: 70px;
  }
  30% {
    top: 70px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 0;
  }
  90% {
    top: 70px;
  }
}
.mouse7 {
animation-name: mouse7;
animation-delay:4s;
animation-duration: 10s;
}

@keyframes mouse7 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  100% {
    top: 70px;
  }
}
.mouse8 {
animation-name: mouse8;
animation-delay:4s;
animation-duration: 10s;
}

@keyframes mouse8 {
  0% {
    top: 70px;
  }
  30% {
    top: 70px;
  }
  60% {
    top: 0;
  }
  70% {
    top: 0;
  }
  90% {
    top: 70px;
  }
}
.mouse9 {
animation-name: mouse9;
animation-duration: 10s;
}

@keyframes mouse9 {
  0% {
    top: 70px;
  }
  10% {
    top: 0;
  }
  15% {
    top: 0;
  }
  20% {
    top: 70px;
  }
  100% {
    top: 70px;
  }
}
.mouse10 {
animation-name: mouse10;
animation-duration: 10s;
}

@keyframes mouse10 {
  0% {
    top: 70px;
  }
  30% {
    top: 70px;
  }
  50% {
    top: 0;
  }
  70% {
    top: 70px;
  }
  90% {
    top: 0;
  }
}

/* Define the scoreboard position and the relation about the scoreboard and the mouses.When the mouse was checked,the scoreboard will be change the score. */
#startFlag:checked ~ .points {
  top: 20px;
}
.points {
  transition: height 1s;
  position: absolute;
  top: -100px;
  left: 50%;
  width: 100px;
  height: 48px;
  margin-left: -50px;
  background: #b6ff00;
  border: 4px solid #ffffff;
  border-radius: 4px;
  color: red;
}
.points .points-viewport {
  overflow: hidden;
  height: 40px;
  width: 100%;
}
.points .points-list {
  position: relative;
  top: -400px;
}
.points .points-list > div {
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
}
.points input {
  display: block;
  height: 0px;
  transition: 1s;
}
.points input:checked {
  height: 40px;
}

/* Define the timebar. */
.timebar {
  position: absolute;
  left: -150px;
  top: 20px;
  transition: 1s;
}
.timebar p {
  color: #fff;
  line-height: 24px;
}
.time {
  border: 2px solid #fff;
  width: 140px;
  height: 20px;
}
.time .progress {
  height: 16px;
  width: 0;
}

/* Define the relation about the timebar and start button.When the start button was checked,the timebar will be appear and run about 15 Seconds. */
#startFlag:checked ~ .timebar .progress {
  animation: progress 15s linear 0s forwards;
}
#startFlag:checked ~ .timebar {
  left: 20px;
}
@keyframes progress {
    from {
        width: 0;
        background: #00ff00;
    }

    to {
        width: 140px;
        background: #ff0000;
    }
}

/* Define the relation about the end page and start button.When the start button was checked,the end page will be drop down at the 16th Second. */

#startFlag:checked ~ #end {
  animation: end 16s linear 0s forwards;
}

#end {
  top: -800px;
  opacity: 1;
  display: block;
  border-bottom: 2px solid #fff;
}
#end .mouse {
  position: absolute;
  left: 50%;
  top: auto;
  margin-left: -30px;
  bottom: -54px;
}

@keyframes end {
  from {
    top: -800px;
  }
  90% {
    top: -800px;
  }
  to {
    top: 0;
  }
}